*{
    color:orange;
    background-color:white;
    margin: 0;
    padding: 0;
    text-align:center;
}

.main{
    width: 100%;
    background:#fff;
    background: linear-gradient(to top,black 50%,blue 50%),url;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}
.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;
}

.logo{
    color:blue;
    font-size: 40px;
    font-family: cursive;
    float: left;
    padding-top: .6%;
    cursor: pointer;
}
.menu{
    width: 600px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}
ul li{
    list-style: none;
    margin-left: 60px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    transition: 3s ease;
}

ul li a:hover{
color:blue;
}
 .main h1{
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
